body.signin-body {
    /* background-color: #7E99A3; */
    background-image:url(/assets/vecteezy_lake-mountains-sunset-landscape-illustration-wild-natural_14172887.jpg) ;
    background-attachment: fixed;
    background-position: center;
}

.container.signin-container {
    margin-top: 5%;
}

.card.signin-card {
    /* padding: 40px 0px 20px;
    background-color: #f4f4f4 ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); */
background: rgba(255, 255, 255, 0.2);
box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
 -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
 -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(100%px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.img-fluid.logo-website {
    padding: 0 2rem 2rem;
    width: 35%;
    margin: auto;
    display: block;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

.btn.signin-button {
    background-color: greenyellow;
    font-family: Tahoma;
    width: 100%;
    margin-bottom: 10px;
}

.btn.signin-button:active {
    background-color: #eb6d25;
    font-family: Tahoma;
    width: 100%;
    margin-bottom: 10px;
}

a.create-account {
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
    display: block;
}